.text-primary {
  color: #FF685B;
}

.bg-primary {
  background-color: #FF685B;
}

.border-primary {
  border-color: #FF685B;
}

.bg-E5F9F7 {
  background-color: #E5F9F7;
}

.text-252B42 {
  color: #252B42;
}

.text-737373 {
  color: #737373;
}

.text-BDBDBD {
  color: #BDBDBD;
}

.text-5AACA8{
  color: #5AACA8;
}


.r {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.r img {
  width: 60px;
  height: 31px;
}

.lm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  width: 141.14px;
  height: 44px;
  border-width: 1px;
  border-radius: 37px;
}

.sales {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales img {
  width: 16px;
  height: 16px;
}

.lm img {
  width: 9.14px;
  height: 16px;
  margin-bottom: -5px;
}

